.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: aparecer-rigth 1.5s ease forwards;
    height: 322px;
}

.iconsFormLogin{
    margin-top: -60px;
    display: flex;
    gap: 20px;
}


.iconsFormLogin div{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--cor1);
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.iconsFormLogin div:hover{
    background-color: transparent;
    border: 2px solid var(--cor1);
}

.iconsFormLogin div i{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.iconsFormLogin div i:hover{
    color: var(--cor1);
}

.buttonLoginDiv{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.butonFazerLogin{
    width: 150px;
    height: 35px;
    border-radius: 20px;
    border: none;
    background-color: var(--cor1);
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.butonFazerLogin:disabled{
    background-color: #cac8c8;
    color: var(--cor3);
}

.butonFazerLogin:hover{
    background-color: transparent;
    color: var(--cor1);
    border: 2px solid var(--cor1);
}

.butonFazerLogin:hover:disabled{
    background-color: transparent;
    color: var(--cor3);
    border: 2px solid var(--cor3);
}

.loginForm > p{
    margin-top: 10px;
    font-size: 13px;
}

.EsqueceuSenha{
    background-color: transparent;
    border: none;
    font-size: 12px;
    margin-top: 8px;
}

@keyframes aparecer-rigth {
    from {
      opacity: 0;
      transform: translateX(20px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }